:root {
  --main-color: rgba(5, 6, 111, 1);
  --light-color: rgba(5, 6, 111, 1);
  --white-color: #dcffea;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri;
}

ol,
ul {
  padding-left: 0px;
}
