:root {
  --main-color: #080808;
  --title-color: rgb(21, 4, 83);
  --light-color: rgb(0, 0, 0);
  --sidebar-color: rgb(13, 54, 39);
  --white-color: #dcffea;
  --bacgraund-image:  url(./Components/Images/завантаження.jpg);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--white-color);
  font-family: Calibri;
}

ol,
ul {
  padding-left: 0px;
}
